package components

templ Input(name string, inputType string, required bool) {
    <input class="border border-slate-800 rounded px-4 py-2" name={ name } type={inputType} required?={required}></input>
}