package views

templ Layout() {
	<html>
		<head>
			<title>Templ + HTMX + Tailwind</title>
			<link href="/style.css" type="text/css" rel="stylesheet"/>
			<script src="/scripts/htmx.min.js"></script>
			<script defer src="/scripts/_hyperscript.min.js"></script>
		</head>
		<body>
		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/about">About</a>
				<a href="/contact">Contact</a>
			</nav>
		</header>
		<h1>Hello world</h1>
			{ children... }
		</body>
	</html>
}