package pages

import "eatwo/views/layouts"

templ HomePage(name string) {
	if name == "" {
		<h1 class="text-gray-900 text-4xl font-bold">Public homepage</h1>
	} else {
		<h1 class="text-gray-900 text-4xl font-bold">Protected homepage user: { name }</h1>
	}
}

templ HomePageWithNavigation(name string) {
	if name == "" {
		@layouts.UnlogNavigation()
	} else {
		@layouts.LoggedNavigation()
	}
	<main id="main" hx-swap-oob="true">
		@HomePage(name)
	</main>
}
